<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="kp2a.plugin.AutoFill" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="KP2A AutoFillPlugin" android:icon="@drawable/Icon">
    <service android:name="keepass2android.autofill.AutoFillService"
             android:enabled="true"
			android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
		 android:name="android.accessibilityservice"
		 android:resource="@xml/accserviceconfig" />
    </service>
    
  </application>
  <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
</manifest>